.posts {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.newPost {
    margin: 50px 0;
}

.newPost textarea{
    resize: none;
    border: none;
    display: block;
    color: var(--text-color);
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--dark-grey-color);
    border-radius: var(--border-radius-default);
    font-family: var(--font-family-default);
    font-size: 18px;
    line-height: 1.5;
}

.newPost textarea::placeholder {
    font-size: 15px;
    color: var(--text-light-color);
    font-family: var(--font-text);
    font-weight: 400;
    letter-spacing: 1px;
}

.btnWrapper {
    text-align: right;
}


.newPost .btn {
    display: flex;
    align-items: center;
    margin-left: auto;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 15px 25px;
    border: none;
    border-radius: var(--border-radius-default);
    transition: background-color .3s ease;
    cursor:pointer;
}

.newPost .btn:hover {
    background-color: var(--secondary-color);
}

.btn svg {
    margin-bottom: 3px;
}

.btn span {
    margin-left: 5px;
}

.postsList {
    outline: none;
}

