/* Nav */

.nav {
    grid-area: n;
}

.item {
    color: var(--text-sub-color);
    position: relative;
}

.item.notification::after {
    content: "";
    width: 8px;
    height: 8px;
    background-color: orangered;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-30%);
    border-radius: 50%;
}

.item a {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    color: var(--text-light-color);
    text-decoration: none;
    padding: 20px 25px;
    border-radius: var(--border-radius-default);
    transition: all .3s ease-in-out;
}

.item a span {
    margin-left: 10px;
}

.item a.active {
    color: var(--text-sub-color);
    background-color: var(--dark-grey-color);
}

.item a:hover {
    color: var(--text-sub-color);
    background-color: var(--dark-grey-color);
}

.friendsWrapper {
    padding: 20px;
}

.friendsWrapper h4 {
    color: var(--text-sub-color);
    font-weight: 400;
    font-size: 18px;
    margin: 0 0 10px 0;
}

.friends {
    display: flex;
    flex-wrap: wrap;
}

.friend {
    width: 27%;
    margin: 5px;

}

.friend img{
    display: inline-block;
    border-radius: 50%;
}