.item {
    background-color: #fff;
    padding: 10px 20px;
    margin: 20px 0;
}

.item header {
    display: flex;
    align-items: center;
}

.item .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.item .author {
    margin: 0 0 0 10px;
    font-size: 15px;
}

.item .content {
    margin: 20px 0;
}

.item footer {
    display: flex;
    justify-content: flex-end;
}

.item footer .likesCount {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.item footer .likesCount .number {
    margin-left: 5px;
    color: var(--text-sub-color);
}