/* COLORS */
:root {
    --body-color: #f6f9fb;
    --text-color: #171725;
    --text-sub-color: #92929d;
    --text-light-color: #c6c6cb;
    --dark-grey-color: #e9f0f4;
    --dark-grey-text-color: #949597;
    --main-content-bg-color: #f6f6f7;

    --border-radius-default: 3px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: var(--body-color);
    font-family: sans-serif;
}

/* App */

.app-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    gap: 10px;
    grid-template-areas:
        "h h"
        "n c";
}







