/* COLORS */
:root {
    --primary-color: #0E86D4;
    --secondary-color: #68BBE3;

    --body-color: #f6f9fb;
    --text-color: #171725;
    --text-sub-color: #92929d;
    --text-light-color: #c6c6cb;
    --dark-grey-color: #e9f0f4;
    --dark-grey-text-color: #949597;
    --main-content-bg-color: #f6f6f7;

    --border-radius-default: 3px;
    --font-family-default: sans-serif;

    --font-text: 'Lato', sans-serif;
    --font-main: 'Open Sans', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: var(--body-color);
    font-family: var(--font-main);
    font-weight: 400;
}

/* App */

.app-wrapper {
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    gap: 10px;
    grid-template-areas:
        "h h"
        "n c";
}

.app-content {
    grid-area: c;
    background-color: var(--main-content-bg-color);
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
    overflow: scroll;
    height: calc(100vh - 80px);
}







