

.dialogsWrapper {
    display: flex;
    height: 100%;
    padding: 10px;

}


.dialogs {
    width: 27%;
    height: 100%;
    margin-right: 10px;
    overflow: scroll;
}

.dialogsItem:not(:last-child) {
    margin-bottom: 15px;
}

.dialogsItem .unread {
    position: relative;
}

.dialogsItem .unread::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: orangered;
    position: absolute;
    right: 0;
    top: 3px;
    border-radius: 50%;
    border: 1px solid var(--main-content-bg-color);
}

.dialogsItem a {
    color: var(--text-light-color);
    padding: 10px 15px;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius-default);
}

.dialogsItem a .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.dialogsItem a .name {
    margin-left: 10px;
}

.dialogsItem a.active {
    color: var(--text-sub-color);
    background-color: var(--dark-grey-color);
}

.dialogMessages {
    width: 100%;
    height: auto;
    background-color: #fff;
}

.messages {
    padding: 20px;
    height: 80%;
    overflow: scroll;
}

.messagesItem {
    display: flex;
    justify-content: flex-start;
}

.messagesItem.own{
    display: flex;
    justify-content: flex-end;
}

.messagesItem.own .messageBody{
    background-color: var(--secondary-color);
}

.messageBody {
    background-color: #F652A0;
    padding: 20px;
    color: #fff;
    font-size: 15px;
    max-width: 50%;
    border-radius: 30px;
}

.messagesItem:not(:last-child) .messageBody {
    margin-bottom: 20px;
}

.newMessage {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: var(--dark-grey-color);
    height: 20%;
}

.newMessage textarea {
    resize: none;
    border: none;
    display: block;
    color: var(--text-color);
    width: 90%;
    height: 80px;
    padding: 20px;
    margin-right: 10px;
    background-color: transparent;
    border-radius: var(--border-radius-default);
    font-family: var(--font-family-default);
    font-size: 18px;
}


.newMessage .btn {
    display: flex;
    align-items: center;
    margin-left: auto;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 10px 15px;
    border: none;
    border-radius: var(--border-radius-default);
    transition: background-color .3s ease;
    cursor:pointer;
}

.newMessage .btn:hover {
    background-color: var(--secondary-color);
}

.newMessage .btn span {
    margin-right: 5px;
}